@import "partials/_font";
@import "partials/color";

// GLOBAL
h1,h2,h3,h4,h5,h6{
	font-family: $fontbold;
}

.content{
	margin-top: 90px;
}

.font-blue{
	color: $font-lightBlue;
}

// HEADER
.navs{
	margin-top: 50px;
	&-border{
		margin-top: 40px;
		border-bottom: 2px solid $border;
	}
}

.nav-right{
	display: block;
	margin-top: 25px;
	cursor: pointer;
	li{
		display: inline-block;
		font-family: $fontreguler;
		font-size: $font-s;
		letter-spacing: 2px;
	}
	li a {
		color: $font-black !important;
		text-decoration: none;
	}
}

// LIST ACTIVITY
.caption{
	margin-top: 30px;
	color: $font-black;
	font-family: $fontbold;
}

// ACTIVITY DETAILS
.header-content{
	margin-bottom: 50px;
	h3{
		color: $font-black;
		font-size: $font-l;
	}
	p{
		font-family: $fontbold;
		font-size: $font-s;
	}
}

.body-content{
	border-bottom: 2px solid $border;
	margin-bottom: 50px;
	.header-list{
		margin-bottom: 30px;
		color: $font-black;
		font-size: $font-m;
		font-family: $fontbold;
	}
	p{
		color: $font-grey;
		margin-bottom: 50px;
		font-size: $font-s;
	}
}

.order-content{
	margin-top: 50px;
	font-family: $fontbold;
	p:nth-child(1){
		font-size: $font-s;
	}
	p:nth-child(2){
		font-size: $font-m;
	}
}


// TRANSACTION
.transaction{
	h1{
		margin-bottom: 2rem;
	}
}

// MODAL
.modal-content{
	border: none;
	.modal-body{
		h1{
			margin: 30px 0;
		}
	}
}

.form-check-input:only-child{
	position: fixed;
}

.form-group{
	margin-bottom: 1.6rem;
}

.cs-modal{
	&-login{
		top: 15%;
	}
	&-register{
		top: 5%;
	}
}

.button{
	margin: 50px 0;
}

