@import "partials/font";
@import "partials/color";

// GLOBAL
.container {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1200px) {
    max-width: 1000px;
  }
}

.form-control-lg{
  font-size: $font-s;
}

body {
  color: $black;
}

h1,h2,h3,h4,h5,h6{
  font-family: $fontbold;
}

.content{
  margin-top: 80px;
  margin-bottom: 40px;
  @media (max-width: 576px) {
    margin-top: 60px;
  }
}

.upcoming {
  padding-left: 24px;
  @media (max-width: 576px) {
    padding-left: 0px;
  }
}

.font{
  &-blue{
    color: $lightBlue;
  }
  &-black{
    color: $black;
  }
  &-grey{
    color: $grey;
  }
  &-reguler{
    font-family: $fontreguler;
  }
  &-bold{
    font-family: $fontbold;
  }
}

input::-webkit-input-placeholder .form-control{
  color: $lightGrey;
}

.no-m{
  margin: 0;
}

.btn-primary {
  font-size: $font-s;
  background-color: $lightBlue;
  border-color: $lightBlue;
  cursor: pointer;
  &:hover{
    background-color: $lightBlue-hover;
    border-color: $lightBlue-hover;
  }
  &:disabled{
    background-color: $lightBlue-hover;
    border-color: $lightBlue-hover;
  }
  &.disabled{
    background-color: $lightBlue-disabled;
    border-color: $lightBlue-disabled;
  }
}

.active{
  color: $lightBlue !important;
}

.border{
  border-bottom: 1px solid $lightGrey;
}

.navbar-light .navbar-toggler{
  border: none;
}

.navbar {
  padding: 0;
}

.navbar-toggler-icon{
  top: 8px;
  right: 0;
  position: absolute;
  &:hover{
    cursor: pointer;
  }
}

.navs{
  margin-top: 20px;
  &-border{
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    @media (max-width: 576px) {
      margin: auto;
      margin-top: 20px;
    }
  }
  @media (max-width: 576px) {
    margin-top: 20px;
    img{
      width: 150px;
    }
  }
}

.nav-right{
  position: absolute;
  right: 0;
  top: 15px;
  cursor: pointer;
  @media (max-width: 576px){
    position: relative;
    display: block;
    padding-left: 0;
  } 
  li{
    display: inline-block;
    font-family: $fontreguler;
    font-size: $font-xs;
    letter-spacing: 1px;
    @media (max-width: 576px){
      display: block;
      margin-bottom: 10px;
      &:nth-child(1) {
        margin-top: 70px;
        display: block;
      }
    } 
    &:hover{
      color: $lightBlue;
    }
  }
  li a {
    color: $black;
    text-decoration: none;
    &:hover{
      color: $lightBlue;
    }
  }
}

// FOOTER
.footer{
  // position: absolute;
  // bottom: 0;
  width: 100%;
  padding: 10px 10px;
  span{
    color: #8f8f8f;
    font-size: $font-xs;
  }
}

// LIST ACTIVITY
.caption{
  margin-top: 13px;
  margin-bottom: 60px;
  font-family: $fontbold;
  h3 {
    font-size: $font-l;
    margin-bottom: 7px;
  }
  .host_name {
    margin-bottom: 1px;
    font-family: $fontreguler;
    font-size: $font-xs;
  }
  .price {
    font-size: $font-xs;
    font-family: $fontreguler;
  }
}

.img-list {
  width: 315px;
}

.col-img{
  padding-left: 39px;
  @media (max-width: 576px){
    padding-left: 15px;
  }
  img{
    width: 300px;
    @media (max-width: 576px){
      width: 100%;
    }
  }
}

// ACTIVITY DETAILS
.activity-details {
  margin-bottom: 100px;
}

.header-content{
  margin-bottom: 33px;
  h3{
    font-size: $font-xl;
  }
  p{
    font-family: $fontreguler;
    font-size: $font-xs;
  }
}

.body-content{
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 30px;
  .header-list{
    margin-bottom: 30px;
    font-size: $font-m;
    font-family: $fontbold;
  }
  p{
    margin-bottom: 30px;
    font-family: $fontreguler;
    font-size: $font-xs;
  }
}

.body-content-left {
  .header-list-left {
    margin-bottom: 10px;
    font-size: $font-m;
    font-family: $fontbold;
  }
  p{
    margin-bottom: 30px;
    font-family: $fontreguler;
    font-size: $font-xs;
  }
}

.image-content{
  cursor: pointer;
  margin-bottom: 39px;
}

.order-content{
  font-family: $fontbold;
  .btn-res-tog{
    font-family: $fontreguler;
    display: none;
    @media (max-width: 576px) {
      display: block;
    }
  }
  .btn-res{
    font-family: $fontreguler;
    display: block;
    @media (max-width: 576px) {
      display: none;
    }
  }
}

.select-date{
  margin-bottom: 33px;
  button{
    font-family: $fontreguler;
    padding: .5rem 1.1rem;
  }
}

.quantity{
  p{
    margin-bottom: 57px;
    font-size: $font-m;
  }
  select{
    font-family: $fontreguler;
    @media (max-width: 576px) {
      width: 165px;
    }
  }
}

.slot-content{
  small{
    padding-top: 10px;
    @media (max-width: 576px) {
      margin-top: 10px;
      padding: 0;
    }
  }
  button{
    font-family: $fontreguler;
    font-size: $font-s;
    width: 90px;
    @media (max-width: 576px) {
      padding: 12px 16px;
      width: 100%;
    }
  }
  .price {
    padding-top: 8px;
    font-size: $font-ml;
    font-family: $fontbold;
    span {
      font-family: $fontreguler;
      font-size: 12px;
      color: $grey;
    }
  }
  .responsive {
    @media (max-width: 576px) {
      display: none;
    }
  }
  .responsive-mobile {
    display: none;
    @media (max-width: 576px) {
      display: block;
      width: 165px
    }
  }
}

.over{
  display: block;
  @media (max-width: 576px) {
    display: none;
  }
}

.over-res{
  display: none;
  @media (max-width: 576px) {
    display: block;
  }
}

// CHECKOUT
.checkout{
  display: block;
  .header-checkout {
    font-family: $fontbold;
    font-size: $font-xl;
  }
  img{
    margin-bottom: 33px;
  }
  .header {
    margin-bottom: 33px;
    p {
      font-size: $font-xs;
    }
  }
  h6 {
    font-family: $fontbold;
    font-size: $font-xs;
    margin-bottom: 13px;
  }
  p{
    font-family: $fontreguler;
    margin: 0;
  }
  .border {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $lightGrey;
  }
  @media (max-width: 576px) {
    display: none;
  }
}

.checkout-res{
  font-size: $font-xs;
  display: none;
  @media (max-width: 576px) {
    display: block;
  }
  button{
    @media (max-width: 576px) {
      padding: 12px 16px;
    }
  }
}

// TRANSACTION
.transaction{
  h1{
    margin-bottom: 2rem;
    @media (max-width: 576px) {
      font-size: $font-ml;
    }
  }
  a{
    color: $white;
    text-decoration: none;
  }
}

.table-res {
  display: none;
  &-border{
    margin-bottom: 50px;
    border-bottom: 1px solid $lightGrey;
  }
  @media (max-width: 576px) {
    display: block;
  }
}

.table{
  @media (max-width: 576px) {
    display: none;
  }
}

// MODAL
.modal-content{
  border: none;
  .modal-body{
    padding-left: 40px;
    padding-right: 40px;
    h1{
      margin: 30px 0;
    }
    button{
      margin-top: 10px;
    }
  }
}

.list-unstyled{
  button{
    width: 90px;
  }
}

.form-group{
  margin-bottom: 24px;
}

.form-custom{
  border: 1px solid $lightGrey;
}

.cs-modal{
  &-login{
    top: 15%;
    @media (max-width: 576px) {
      .none-float{
        float:none !important;
      }
      font-size: $font-xs;
      top: 0%;
    }
  }
  &-register{
    top:5%;
    @media (max-width: 576px) {
      .none-float{
        float:none !important;
      }
      font-size: $font-xs;
      top: 0%;
    }
  }
}

.button{
  margin: 50px 0;
}

// CONFIRMATION
.confirmation{
  h2{
    margin-bottom: 2.5rem
  }
  label {
    font-family: $fontbold;
    font-size: $font-xs;
  }
  button {
    margin-top: 4px;
  }
  a {
    margin-top: 4px;
  }
}
