@import "partials/font";
@import "partials/color";

// GLOBAL
body {
  color: $black;
}

h1,h2,h3,h4,h5,h6{
  font-family: $fontbold;
}

.content{
  margin-top: 90px;
}

.font{
  &-blue{
    color: $lightBlue;
  }
  &-black{
    color: $black;
  }
  &-grey{
    color: $grey;
  }
}

input::-webkit-input-placeholder .form-control{
  color: $lightGrey;
}

.no-m{
  margin: 0;
}

.btn-primary {
  background-color: $lightBlue;
  border-color: $lightBlue;
  cursor: pointer;
  &:hover{
    background-color: $lightBlue-hover;
    border-color: $lightBlue-hover;
  }
  &:disabled{
    background-color: $lightBlue-hover;
    border-color: $lightBlue-hover;
  }
  &.disabled{
    background-color: $lightBlue-disabled;
    border-color: $lightBlue-disabled;
  }
}

.active{
  color: $lightBlue !important;
}

// HEADER
.navs{
  margin-top: 50px;
  &-border{
    margin-top: 40px;
    border-bottom: 1px solid $lightGrey;
  }
}

.nav-right{
  display: block;
  margin-top: 25px;
  cursor: pointer;
  li{
    display: inline-block;
    font-family: $fontreguler;
    font-size: $font-s;
    letter-spacing: 2px;
    &:hover{
      color: $lightBlue;
    }
  }
  li a {
    color: $black;
    text-decoration: none;
    &:hover{
      color: $lightBlue;
    }
  }
}

// LIST ACTIVITY
.caption{
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: $fontbold;
  p{
    font-family: $fontreguler;
  }
}

.col-img{
  padding-left: 39px;
}

// ACTIVITY DETAILS
.header-content{
  margin-bottom: 50px;
  h3{
    font-size: $font-l;
  }
  p{
    font-family: $fontreguler;
    font-size: $font-s;
  }
}

.body-content{
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 50px;
  .header-list{
    margin-bottom: 30px;
    font-size: $font-m;
    font-family: $fontbold;
  }
  p{
    margin-bottom: 50px;
    font-size: $font-s;
  }
}

.order-content{
  margin-top: 30px;
  font-family: $fontbold;
}

.quantity{
  margin-top: 20px;
  border-bottom: 1px solid $lightGrey;
  p{
    margin-bottom: 40px;
    font-size: $font-m;
  }
  input{
    width: 90px;
  }
}

.slot-content{
  margin-top: 30px;
  button{
    width: 90px;
  }
}

// CHECKOUT

// TRANSACTION
.transaction{
  h1{
    margin-bottom: 2rem;
  }
  a{
    color: $white;
    text-decoration: none;
  }
}

// MODAL
.modal-content{
  border: none;
  .modal-body{
    padding-left: 40px;
    padding-right: 40px;
    h1{
      margin: 30px 0;
    }
    button{
      margin-top: 10px;
    }
  }
}

.list-unstyled{
  button{
    width: 90px;
  }
}

.form-group{
  margin-bottom: 1.6rem;
}

.form-custom{
  border: 1px solid $lightGrey;
}

.cs-modal{
  &-login{
    top: 15%;
  }
  &-register{
    top:5%
  }
}

.button{
  margin: 50px 0;
}

// CONFIRMATION
.confirmation{
  h2{
    margin-bottom: 2.5rem
  }
}
