
//FONT FAMILY

@font-face {
  font-family: "reguler";
  src: url("../fonts/HelveticaNeue-Reguler.ttf") format("truetype");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
}

$fontreguler: "reguler";
$fontbold: "bold";

$font-xs: 14px;
$font-s: 15px;
$font-m: 16px;
$font-ml: 18px;
$font-l: 20px;
$font-xl: 24px;