@font-face {
  font-family: "Reguler";
  src: url("../fonts/HelveticaNeue-Reguler.ttf") format("ttf");
}

@font-face {
  font-family: "Bold";
  src: url("../fonts/HelveticaNeue-Bold.ttf") format("ttf");
}

$reguler: "Reguler";
$bold: "Bold";