
//FONT FAMILY

@font-face {
  font-family: "reguler";
  src: url("../fonts/HelveticaNeue-Reguler.ttf") format("truetype");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
}

$fontreguler: "reguler";
$fontbold: "bold";

$font-xs: 11pt;
$font-s: 12pt;
$font-m: 15pt;
$font-ml: 24pt;
$font-l: 30;
$font-xl: 33pt;